<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{414,335}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{409,1},{414,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{410,335}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{409,338},{410,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{406,351}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{404,333}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{821,338},{404,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{398,333}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{1643,1},{398,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{404,333}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{1237,1},{404,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{406,351}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{1,354},{406,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{410,335}</string>
                <key>spriteSourceSize</key>
                <string>{416,353}</string>
                <key>textureRect</key>
                <string>{{825,1},{410,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,313}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{675,675},{335,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,313}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{990,673},{335,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{335,311}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{1552,336},{335,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{335,309}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{1,707},{335,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{335,309}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{338,707},{335,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{335,309}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{1305,673},{335,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{335,311}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{1616,649},{335,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,313}</string>
                <key>spriteSourceSize</key>
                <string>{337,315}</string>
                <key>textureRect</key>
                <string>{{1237,336},{335,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{2042,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e82277c3743e73c9ad2df89045f5f80:ce17f1fa21b128710008c35b4eac259d:2e2ad933a1f1712071c203f9b073a961$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
