<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{560,457}</string>
			<key>spriteSourceSize</key>
			<string>{614,517}</string>
			<key>textureRect</key>
			<string>{{1,512},{560,457}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{604,509}</string>
			<key>spriteSourceSize</key>
			<string>{614,517}</string>
			<key>textureRect</key>
			<string>{{1,1},{604,509}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{500,455}</string>
			<key>spriteSourceSize</key>
			<string>{614,517}</string>
			<key>textureRect</key>
			<string>{{563,799},{500,455}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>frame-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{412,409}</string>
			<key>spriteSourceSize</key>
			<string>{614,517}</string>
			<key>textureRect</key>
			<string>{{607,1},{412,409}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{400,385}</string>
			<key>spriteSourceSize</key>
			<string>{614,517}</string>
			<key>textureRect</key>
			<string>{{607,412},{400,385}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{272,295}</string>
			<key>spriteSourceSize</key>
			<string>{614,517}</string>
			<key>textureRect</key>
			<string>{{1,971},{272,295}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>explosion.png</string>
		<key>size</key>
		<string>{1020,1300}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b07b75fd8822ecbeb258bacc8c50e39b:9fa50c92610b0bfe17840955ac26cf87:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
		<key>textureFileName</key>
		<string>explosion.png</string>
	</dict>
</dict>
</plist>
