<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{213,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{319,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{531,1},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{102,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{743,1},{102,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{637,1},{104,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,88}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{107,1},{104,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{104,88}</string>
                <key>textureRect</key>
                <string>{{425,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bug-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{847,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{928,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1009,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1090,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1171,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1252,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1333,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bug-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{1414,1},{84,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{1494,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e82277c3743e73c9ad2df89045f5f80:ce17f1fa21b128710008c35b4eac259d:2e2ad933a1f1712071c203f9b073a961$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
