<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{262,221}</string>
                <key>spriteSourceSize</key>
                <string>{264,225}</string>
                <key>textureRect</key>
                <string>{{1311,1},{262,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{260,223}</string>
                <key>spriteSourceSize</key>
                <string>{264,225}</string>
                <key>textureRect</key>
                <string>{{263,1},{260,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{260,223}</string>
                <key>spriteSourceSize</key>
                <string>{264,225}</string>
                <key>textureRect</key>
                <string>{{525,1},{260,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,225}</string>
                <key>spriteSourceSize</key>
                <string>{264,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{260,223}</string>
                <key>spriteSourceSize</key>
                <string>{264,225}</string>
                <key>textureRect</key>
                <string>{{787,1},{260,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{260,223}</string>
                <key>spriteSourceSize</key>
                <string>{264,225}</string>
                <key>textureRect</key>
                <string>{{1049,1},{260,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{1574,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc54b2a4f6e92947fa834013bb1a9efc:493555aa211f688666e4d1c7cec8c9d0:84469186d8b23b428d4fa49d02e49db6$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
